/* Inter Font Family - Local */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('./Inter-VariableFont.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url('./Inter-Italic-VariableFont.ttf') format('ttf');
}